<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="61f5df">  <td>17/04/04 17:40:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LinkCheckerTATABlog.FindBrokenLinks()[pri:0, instance:Scripts.LinkCheckerTATABlog@482f8f11]">FindBrokenLinks</td> 
  <td>main@395629617</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>17/04/04 17:56:31</td>   <td>980128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LinkCheckerTATABlog.closeBrowser()[pri:0, instance:Scripts.LinkCheckerTATABlog@482f8f11]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@395629617</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>17/04/04 17:40:07</td>   <td>-4197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LinkCheckerTATABlog.openBrowserURL()[pri:0, instance:Scripts.LinkCheckerTATABlog@482f8f11]">&gt;&gt;openBrowserURL</td> 
<td>&nbsp;</td>  <td>main@395629617</td>   <td></td> </tr>
</table>
