<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="75a3bc">  <td>17/03/22 16:00:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LinkCheckerTATABlog.FindBrokenLinks()[pri:0, instance:Scripts.LinkCheckerTATABlog@62ee68d8]">FindBrokenLinks</td> 
  <td>main@1204167249</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>17/03/22 16:06:18</td>   <td>375763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LinkCheckerTATABlog.closeBrowser()[pri:0, instance:Scripts.LinkCheckerTATABlog@62ee68d8]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1204167249</td>   <td></td> </tr>
<tr bgcolor="75a3bc">  <td>17/03/22 15:59:50</td>   <td>-12516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LinkCheckerTATABlog.openBrowserURL()[pri:0, instance:Scripts.LinkCheckerTATABlog@62ee68d8]">&gt;&gt;openBrowserURL</td> 
<td>&nbsp;</td>  <td>main@1204167249</td>   <td></td> </tr>
</table>
