<h2>Reporter output</h2><table><tr><td>https://test.tatahealth.com/blog/</td></tr>
<tr><td>Total no. of links are 240</td></tr>
<tr><td>Total no. of links are 154</td></tr>
<tr><td>Total no. of links are 1</td></tr>
<tr><td>Total no. of links are 150</td></tr>
<tr><td>Total no. of links are 2</td></tr>
<tr><td>Total no. of links are 1</td></tr>
<tr><td>Total no. of links are 162</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/10/06/common-myths-about-exercise-among-women/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 856 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/vegetables-for-healthy-sugar-levels/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 648 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/pregnancy/demystifying-pregnancy/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1833 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/01/antiviral-flu-drugs-safe-mid-late-pregnancy-study/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1256 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/09/downside-to-gluten-free-diets-diabetes-risk/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 782 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/pregnancy/home-recipes-pregnancy/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 649 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/13/fish-oil-pills-may-help-after-heart-attack-specialists-say/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 625 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/12/09/eating-for-2-how-much-of-this-is-true/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 644 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/womenshealth/home-remedies-womens-health/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1072 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/forums</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 526 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/02/health-tip-use-caution-applying-hair-dye/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 2821 milliseconds</td></tr>
<tr><td>Total Page Load Time: 2.0 seconds</td></tr>
<tr><td>URL: http://www.cdc.gov/features/avoid-dengue/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 4276 milliseconds</td></tr>
<tr><td>Total Page Load Time: 4.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/14/understanding-pap-smearpap-test/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1899 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: http://www.alzheimers.net/2015-10-14/how-alzheimers-could-be-type-2-diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 6354 milliseconds</td></tr>
<tr><td>Total Page Load Time: 6.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/health-tip-eat-your-antioxidants/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 3194 milliseconds</td></tr>
<tr><td>Total Page Load Time: 3.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/family-support-in-managing-diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 635 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/03/telemedicine-in-diabetes-care/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 615 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/13/hodgkin-lymphoma-survivors-face-risk-of-second-cancer-study/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 592 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/10/inherited-mutations-and-breast-cancer/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 627 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/28/understanding-the-use-of-honey-in-diabetes-management/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 594 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/13/can-supplements-ward-off-the-baby-blues/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 575 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/health-tip-chewing-sugarless-gum/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 715 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 742 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/taking-control-of-your-blood-sugar-levels-during-pregnancy/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 601 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/02/28/concussions-likely-female-athletes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1295 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/womenshealth/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 684 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1292 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/18/protect-yourself-from-mosquito-borne-diseases-this-season/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 949 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/5-diabetics-fruit-shopping/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1551 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/09/slideshow-post/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1195 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/diabetes/managing-diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1177 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/17/postpartum-depression-affects-new-dads-too/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 673 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/03/nutrition-during-adolescence-could-impact-health-of-future-generation/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 617 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 689 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://tatahealth.com/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 802 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/health-tip-make-sleep-a-priority/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 714 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/09/1-in-7-obese-people-has-normal-blood-pressure-cholesterol/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 576 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/19/know-the-risks-warning-signs-of-ovarian-cancer/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 610 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/12/27/breast-cancer-overtakes-cervical-cancer-in-indian-women/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 576 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/21/common-cold-can-be-dangerous-after-bone-marrow-transplant/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 565 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/pregnancy/featured-news-pregnancy/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1186 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 573 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1090 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/pregnancy/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 949 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/09/study-casts-more-doubt-on-value-of-mammograms/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 717 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/21/a-warming-planet-might-mean-more-diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 620 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/02/16/health-tip-choosing-a-pregnancy-pillow/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1141 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/02/28/youth-type-2-diabetes-often-face-complications/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1180 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/everydayhealth/understandingdiseases/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 2363 milliseconds</td></tr>
<tr><td>Total Page Load Time: 2.0 seconds</td></tr>
<tr><td>URL: http://www.who.int/denguecontrol/control_strategies/en/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 2731 milliseconds</td></tr>
<tr><td>Total Page Load Time: 2.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/23/gestational-diabetes-a-risk-factor-for-postpartum-depression-study/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1169 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/12/could-moms-pre-pregnancy-blood-pressure-predict-babys-gender/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1043 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/allergic-rhinitis-looking-beyond-cold/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1942 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/13/health-tip-choose-the-right-shoe-for-a-hammer-toe/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 911 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: http://www.nhp.gov.in/disease/musculo-skeletal-bone-joints-/dengue-fever</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 22264 milliseconds</td></tr>
<tr><td>Total Page Load Time: 22.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/02/02/breast-density-may-be-leading-indicator-of-cancer-risk/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 2341 milliseconds</td></tr>
<tr><td>Total Page Load Time: 2.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/12/16/healthy-ways-to-manage-weight/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 674 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/13/health-tip-help-kids-maintain-healthy-cholesterol/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 677 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/21/obesity-in-youth-tied-to-higher-odds-for-liver-cancer-in-men/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 659 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/12/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 626 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/02/14/some-partners-need-extra-loving-this-valentines-day/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 893 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: http://www.cdc.gov/dengue/entomologyEcology/index.html</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1957 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/02/09/many-women-skip-mammograms-after-false-positive-result/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1763 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/28/5-way-defence-against-pcos-flax-seeds/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 650 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/diabetes/featured-news-diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1014 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/09/the-new-oral-anti-diabetic-drug-also-protects-the-kidney-in-patients-with-diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 607 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/09/most-women-stop-drinking-after-positive-pregnancy-test-study-finds/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 615 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/08/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1691 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/everydayhealth/from-your-kitchen/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 2233 milliseconds</td></tr>
<tr><td>Total Page Load Time: 2.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/12/08/early-or-late-menopause-can-increase-the-risk-of-diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 719 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftnref5</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 643 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/hypoglycaemia-first-aid-tips-for-a-diabetic/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 651 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftnref4</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 616 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftnref7</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 37 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/10/05/seven-things-you-need-to-know-about-menopause/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 643 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 580 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/26/test/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 993 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftnref6</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 582 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/know-all-about-the-types-of-childbirth/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 583 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftnref1</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 612 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftnref3</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 43 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftnref2</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 24 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1229 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: http://www.mayoclinic.org/diseases-conditions/alzheimers-disease/in-depth/diabetes-and-alzheimers/art-20046987</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 11112 milliseconds</td></tr>
<tr><td>Total Page Load Time: 11.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/07/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 2466 milliseconds</td></tr>
<tr><td>Total Page Load Time: 2.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/can-bad-air-increase-diabetes-risks/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1012 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/everydayhealth/reforming-lifestyle/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1128 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/28/dengue-understanding-platelets-level-count/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 634 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/womenshealth/women-health-partner/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 836 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/16/health-tip-ward-off-infections-during-pregnancy/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 603 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/02/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 854 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/diabetes-alzhimers-are-they-co-related/#respond</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 616 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/10/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1513 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/12/12/why-does-diabetes-affect-your-oral-health/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 659 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/29/menopause-and-osteoporosis-can-menopause-increase-the-risk-of-osteoporosis/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 642 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/high-blood-pressure-the-silent-killer/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 830 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftn1</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 672 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftn2</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 49 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftn3</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 17 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftn4</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 38 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftn5</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 37 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftn6</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 38 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftn7</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 42 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/olive-oil-and-diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 626 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 925 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/21/family-history-of-colon-cancer-calls-for-earlier-screening/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 602 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://www.tatahealth.com/virtualcare/health-scorecard</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 3893 milliseconds</td></tr>
<tr><td>Total Page Load Time: 3.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/#tdh_single_column_slider-2</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 869 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/#tdh_single_column_slider-3</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 41 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/#</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 38 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/is-diabetes-different-in-women/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 633 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/womenshealth/fitness-mantra/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 963 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: http://www.searo.who.int/entity/emergencies/documents/who_fact_sheet_on_dengue.pdf?ua=1</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 3715 milliseconds</td></tr>
<tr><td>Total Page Load Time: 3.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/19/welcome-spring-and-still-survive-your-allergies/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1153 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#respond</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 624 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/health-tip-is-your-toddler-eating-enough/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 697 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/13/more-babies-in-strollers-cribs-winding-up-in-er-study/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 601 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/pregnancy/know-your-pregnancy/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 580 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/everydayhealth/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 562 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/02/27/health-tip-reheat-food-safely/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 697 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 623 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/health-tip-strength-training-is-for-seniors-too/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 736 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/12/09/maintaining-bone-health-how-is-it-different-for-women/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 599 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/12/12/making-the-most-of-vegetarian-diets/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 587 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/09/video-post-test/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 3844 milliseconds</td></tr>
<tr><td>Total Page Load Time: 3.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/diabetes/understanding-diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 572 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/mums-to-be-its-time-to-relax/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 563 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/10/common-virus-may-have-ties-to-type-1-diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 584 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/everydayhealth/featured-news-everyday-health/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 798 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/02/27/health-fads-may-not-healthy/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 718 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/04/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 539 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/diabetes/home-remedies-diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 530 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/everyday-health/#respond</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 640 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>URL: http://www.who.int/mediacentre/factsheets/fs117/en/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 4776 milliseconds</td></tr>
<tr><td>Total Page Load Time: 4.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-in-40s/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1457 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.0 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/12/scientists-create-mosquitoes-resistant-to-dengue-virus/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 598 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.0 seconds</td></tr>
<tr><td>Total count of broken links are: 0</td></tr>
<tr><td><a href="E:\workspace\brokenlinkcheck\test-output\PieChartTataBlog.html">pieChartLoc</a></td></tr>
<tr><td><a target="_blank" href="E:\workspace\brokenlinkcheck\test-output\ColumnChartTataBlog.html">columnChartLoc</a></td></tr>
<tr><td><img src="E:\workspace\brokenlinkcheck\test-output\PieChartTataBlog.html">pieChartLoc</img></td></tr>
</table>