<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97cf78">  <td>17/03/24 17:33:26</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LinkCheckerTATABlog.openBrowserURL()[pri:0, instance:Scripts.LinkCheckerTATABlog@7dc7cbad]">&gt;&gt;openBrowserURL</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="97cf78">  <td>17/03/24 17:33:41</td>   <td>14036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LinkCheckerTATABlog.FindBrokenLinks()[pri:0, instance:Scripts.LinkCheckerTATABlog@7dc7cbad]">FindBrokenLinks</td> 
  <td>main@1121454968</td>   <td></td> </tr>
<tr bgcolor="97cf78">  <td>17/03/24 17:45:16</td>   <td>709273</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LinkCheckerTATABlog.closeBrowser()[pri:0, instance:Scripts.LinkCheckerTATABlog@7dc7cbad]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1121454968</td>   <td></td> </tr>
</table>
