<h2>Reporter output</h2><table><tr><td>https://test.tatahealth.com/blog/</td></tr>
<tr><td>Total no. of links are 228</td></tr>
<tr><td>Total no. of links are 154</td></tr>
<tr><td>Total no. of links are 1</td></tr>
<tr><td>Total no. of links are 150</td></tr>
<tr><td>Total no. of links are 2</td></tr>
<tr><td>Total no. of links are 1</td></tr>
<tr><td>Total no. of links are 162</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/10/06/common-myths-about-exercise-among-women/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 902.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.902 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/vegetables-for-healthy-sugar-levels/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 705.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.705 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/pregnancy/demystifying-pregnancy/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1286.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.286 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/20/atms-coffee-shops-ideal-spots-heart-defibrillators/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 707.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.707 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/01/antiviral-flu-drugs-safe-mid-late-pregnancy-study/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 753.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.753 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/category/everyday-health/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 788.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.788 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/09/downside-to-gluten-free-diets-diabetes-risk/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 677.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.677 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/pregnancy/home-recipes-pregnancy/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 600.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.6 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/12/09/eating-for-2-how-much-of-this-is-true/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 705.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.705 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/womenshealth/home-remedies-womens-health/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1020.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.02 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/forums</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 520.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.52 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/02/health-tip-use-caution-applying-hair-dye/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 3131.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 3.131 seconds</td></tr>
<tr><td>URL: http://www.cdc.gov/features/avoid-dengue/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 3902.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 3.902 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/14/understanding-pap-smearpap-test/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1664.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.664 seconds</td></tr>
<tr><td>URL: http://www.alzheimers.net/2015-10-14/how-alzheimers-could-be-type-2-diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 6037.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 6.037 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/health-tip-eat-your-antioxidants/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 3345.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 3.345 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/family-support-in-managing-diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 686.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.686 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/03/telemedicine-in-diabetes-care/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 689.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.689 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/13/hodgkin-lymphoma-survivors-face-risk-of-second-cancer-study/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 679.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.679 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/10/inherited-mutations-and-breast-cancer/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 659.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.659 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/28/understanding-the-use-of-honey-in-diabetes-management/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 712.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.712 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/13/can-supplements-ward-off-the-baby-blues/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 647.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.647 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/health-tip-chewing-sugarless-gum/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 977.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.977 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 919.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.919 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/taking-control-of-your-blood-sugar-levels-during-pregnancy/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 696.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.696 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/02/28/concussions-likely-female-athletes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 788.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.788 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/womenshealth/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 824.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.824 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1277.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.277 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/18/protect-yourself-from-mosquito-borne-diseases-this-season/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 814.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.814 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/5-diabetics-fruit-shopping/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 647.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.647 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/diabetes/managing-diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1239.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.239 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 833.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.833 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/17/postpartum-depression-affects-new-dads-too/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 685.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.685 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/03/nutrition-during-adolescence-could-impact-health-of-future-generation/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 773.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.773 seconds</td></tr>
<tr><td>URL: https://tatahealth.com/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 744.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.744 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/health-tip-make-sleep-a-priority/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 740.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.74 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/forums/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 380.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.38 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/19/know-the-risks-warning-signs-of-ovarian-cancer/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 679.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.679 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/12/27/breast-cancer-overtakes-cervical-cancer-in-indian-women/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 699.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.699 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/21/energy-drinks-booze-injuries/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 647.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.647 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/21/common-cold-can-be-dangerous-after-bone-marrow-transplant/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 723.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.723 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/pregnancy/featured-news-pregnancy/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1007.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.007 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 629.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.629 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1239.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.239 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/pregnancy/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1153.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.153 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/09/study-casts-more-doubt-on-value-of-mammograms/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 650.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.65 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/21/a-warming-planet-might-mean-more-diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 680.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.68 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/02/16/health-tip-choosing-a-pregnancy-pillow/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 713.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.713 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/home-remedies-to-relieve-gynaecological-symptoms/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 637.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.637 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/02/28/youth-type-2-diabetes-often-face-complications/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 756.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.756 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/everydayhealth/understandingdiseases/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1281.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.281 seconds</td></tr>
<tr><td>URL: http://www.who.int/denguecontrol/control_strategies/en/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 10186.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 10.186 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/23/gestational-diabetes-a-risk-factor-for-postpartum-depression-study/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1046.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.046 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/12/could-moms-pre-pregnancy-blood-pressure-predict-babys-gender/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 4673.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 4.673 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/allergic-rhinitis-looking-beyond-cold/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 9455.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 9.455 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/13/health-tip-choose-the-right-shoe-for-a-hammer-toe/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 4501.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 4.501 seconds</td></tr>
<tr><td>URL: http://www.nhp.gov.in/disease/musculo-skeletal-bone-joints-/dengue-fever</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 55237.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 55.237 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/02/02/breast-density-may-be-leading-indicator-of-cancer-risk/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 2146.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 2.146 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/category/pregnancy/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 3383.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 3.383 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/21/health-tip-slow-down-when-youre-stressed/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 6341.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 6.341 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/12/16/healthy-ways-to-manage-weight/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 2758.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 2.758 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/13/health-tip-help-kids-maintain-healthy-cholesterol/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 3946.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 3.946 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/21/obesity-in-youth-tied-to-higher-odds-for-liver-cancer-in-men/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 5859.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 5.859 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/02/08/health-tip-trouble-flexing-a-finger/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 5410.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 5.41 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/12/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 5006.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 5.006 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/womenshealth/news-womens-health/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 7555.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 7.555 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/02/14/some-partners-need-extra-loving-this-valentines-day/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 5479.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 5.479 seconds</td></tr>
<tr><td>URL: http://www.cdc.gov/dengue/entomologyEcology/index.html</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1990.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.99 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/02/09/many-women-skip-mammograms-after-false-positive-result/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 6167.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 6.167 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/21/health-tip-managing-metabolic-syndrome/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 7307.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 7.307 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/28/5-way-defence-against-pcos-flax-seeds/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1079.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.079 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/diabetes/featured-news-diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1210.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.21 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/09/the-new-oral-anti-diabetic-drug-also-protects-the-kidney-in-patients-with-diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 746.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.746 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/09/most-women-stop-drinking-after-positive-pregnancy-test-study-finds/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 698.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.698 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/08/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1589.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.589 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/everydayhealth/from-your-kitchen/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1503.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.503 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/12/08/early-or-late-menopause-can-increase-the-risk-of-diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 683.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.683 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftnref5</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 670.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.67 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/hypoglycaemia-first-aid-tips-for-a-diabetic/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 650.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.65 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftnref4</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 666.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.666 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftnref7</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 87.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.087 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/10/05/seven-things-you-need-to-know-about-menopause/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1177.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.177 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1392.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.392 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/26/test/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 3506.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 3.506 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftnref6</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 4033.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 4.033 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/know-all-about-the-types-of-childbirth/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 5219.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 5.219 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftnref1</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 3683.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 3.683 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftnref3</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 74.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.074 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftnref2</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 53.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.053 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 3975.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 3.975 seconds</td></tr>
<tr><td>URL: http://www.mayoclinic.org/diseases-conditions/alzheimers-disease/in-depth/diabetes-and-alzheimers/art-20046987</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 46452.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 46.452 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/07/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 11433.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 11.433 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/can-bad-air-increase-diabetes-risks/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 4836.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 4.836 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/everydayhealth/reforming-lifestyle/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 16310.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 16.31 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/28/dengue-understanding-platelets-level-count/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1507.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.507 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/womenshealth/women-health-partner/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1438.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.438 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/16/health-tip-ward-off-infections-during-pregnancy/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 828.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.828 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/02/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1159.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.159 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/diabetes-alzhimers-are-they-co-related/#respond</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 760.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.76 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/10/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 2345.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 2.345 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/29/menopause-and-osteoporosis-can-menopause-increase-the-risk-of-osteoporosis/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 683.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.683 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/high-blood-pressure-the-silent-killer/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 925.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.925 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftn1</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 748.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.748 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftn2</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 80.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.08 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftn3</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 56.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.056 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftn4</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 59.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.059 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftn5</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 65.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.065 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftn6</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 54.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.054 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#_ftn7</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 30.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.03 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/olive-oil-and-diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1096.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.096 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 3793.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 3.793 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/21/family-history-of-colon-cancer-calls-for-earlier-screening/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 4783.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 4.783 seconds</td></tr>
<tr><td>URL: https://www.tatahealth.com/virtualcare/health-scorecard</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 24972.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 24.972 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/#tdh_single_column_slider-2</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 2098.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 2.098 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/#tdh_single_column_slider-3</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 63.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 0.063 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/category/diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 2171.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 2.171 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/#</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 7452.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 7.452 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/is-diabetes-different-in-women/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 2594.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 2.594 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/womenshealth/fitness-mantra/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 12746.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 12.746 seconds</td></tr>
<tr><td>URL: http://www.searo.who.int/entity/emergencies/documents/who_fact_sheet_on_dengue.pdf?ua=1</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1517.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.517 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/19/welcome-spring-and-still-survive-your-allergies/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 3509.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 3.509 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-after-menopause/#respond</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 7297.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 7.297 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/02/exercise-helps-counter-cancer-linked-fatigue/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 2219.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 2.219 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/health-tip-is-your-toddler-eating-enough/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 2467.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 2.467 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/03/13/more-babies-in-strollers-cribs-winding-up-in-er-study/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1450.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.45 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/pregnancy/know-your-pregnancy/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1415.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.415 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/everydayhealth/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 3804.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 3.804 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/02/27/health-tip-reheat-food-safely/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 2356.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 2.356 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 5627.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 5.627 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/health-tip-strength-training-is-for-seniors-too/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1367.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.367 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/12/09/maintaining-bone-health-how-is-it-different-for-women/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 10537.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 10.537 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/diabetes/understanding-diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 4675.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 4.675 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/mums-to-be-its-time-to-relax/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 4860.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 4.86 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/10/common-virus-may-have-ties-to-type-1-diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 5540.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 5.54 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/everydayhealth/featured-news-everyday-health/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 3789.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 3.789 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/02/27/health-fads-may-not-healthy/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 3039.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 3.039 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/04/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 3875.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 3.875 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/category/diabetes/home-remedies-diabetes/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 2285.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 2.285 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/02/08/could-night-shifts-heavy-lifting-impair-a-womans-fertility/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 3822.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 3.822 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/09/27/everyday-health/#respond</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 1712.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 1.712 seconds</td></tr>
<tr><td>URL: http://www.who.int/mediacentre/factsheets/fs117/en/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 9043.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 9.043 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2016/11/09/pregnancy-in-40s/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 3124.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 3.124 seconds</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/blog/2017/01/12/scientists-create-mosquitoes-resistant-to-dengue-virus/</td></tr>
<tr><td>Status: 200</td></tr>
<tr><td>Total Page Load Time: 3407.0 milliseconds</td></tr>
<tr><td>Total Page Load Time: 3.407 seconds</td></tr>
<tr><td>Total count of broken links are: 2</td></tr>
<tr><td>Broken links are as below:</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/category/well-being/</td></tr>
<tr><td>URL: https://test.tatahealth.com/blog/category/womens-health/</td></tr>
<tr><td><a href="C:\Users\Amod Mahajan\workspace\Broken_Links_Tata_Articles\test-output\PieChartTataBlog.html">pieChartLoc</a></td></tr>
<tr><td><a target="_blank" href="C:\Users\Amod Mahajan\workspace\Broken_Links_Tata_Articles\test-output\ColumnChartTataBlog.html">columnChartLoc</a></td></tr>
<tr><td><img src="C:\Users\Amod Mahajan\workspace\Broken_Links_Tata_Articles\test-output\PieChartTataBlog.html">pieChartLoc</img></td></tr>
</table>